<!-- <header class="header">
    <div class="header-nav">
        <div class="header-top">
            <div class="container">
                <p>Blue pepper clothing store</p>
            </div>
        </div>
        <div class="nav">
            <div class="header-body">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container">

                            <div class="container-fluid">

                                <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" width="40px"
                                        height="60px" alt=""></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent"
                                    style="justify-content: center; margin-top: -50px; align-items: center;">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="">Trang chủ</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle black-text" href="#" id="navbarDropdown"
                                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Shop
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li><a class="dropdown-item fs-6" href="#">Tất cả sản phẩm</a></li>
                                                <li><a class="dropdown-item" href="#">Áo Croptop</a></li>
                                                <li><a class="dropdown-item" href="#">Quần</a></li>
                                                <li><a class="dropdown-item" href="#">Áo Thun</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">Giới thiệu</li>
                                        <li class="nav-item ms-2">Tin tức</li>
                                        <li class="nav-item ms-2">Khuyến mại</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="header-body-right">
                                <div class="icon-header"><i class="fa-solid fa-magnifying-glass"></i></div>
                                <div class="icon-header"><i class="fa-solid fa-user"></i></div>
                                <div class="icon-header"><i class="fas fa-shopping-cart"></i></div>
                            </div>
                        </div>

                    </nav>

                </div>
            </div>
        </div>
    </div>

</header> -->
<header>
    <div class="header">
        <div class="header-top">
            <div class="container">
                <span>Blue pepper clothing store</span>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" width="40px"
                                alt=""></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse header_content-center" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: auto;">
                                <li class="nav-item item">
                                    <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Shop
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Tất cả sản phẩm</a></li>
                                        <li><a class="dropdown-item" href="#">Áo Croptop</a></li>
                                        <li><a class="dropdown-item" href="#">Quần</a></li>
                                        <li><a class="dropdown-item" href="#">Áo thun</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Giới thiệu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Tin tức</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Khuyến mại</a>
                                </li>

                            </ul>
                            <div class="header-body-right">
                                <div class="icon-header"><i class="fa-solid fa-magnifying-glass"></i></div>
                                <div class="icon-header"><i class="fa-solid fa-user"></i></div>
                                <div class="icon-header"><i class="fas fa-shopping-cart"></i></div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>