<div class="footer">
    <div class="footer-top">
        <div class="container footer-main">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-4">
                    <div class="title-mail">
                        <i class="fas fa-envelope-open-text"></i>
                        <span>Đăng kí nhận thư</span>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-8">
                    <div class="form-register">
                        <form action="" method="post" class="form">
                            <input type="email" name="" id="" placeholder="Nhập email của bạn">
                            <button type="submit">Đăng ký</button>
                        </form>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-3 col-12">
                    <div class="support-contact">
                        <i class="fas fa-phone-square-alt"></i>
                        <span>Hỗ trợ</span>
                        /
                        <span>Mua Hàng:</span>
                        <span class="phone"> 0919328662</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-8">
                    <div class="content1">
                        <img src="../../assets/images/logo-footer.png" alt="" width="30%">
                        <div class="content1-footer">
                            <p>Blue pepper clothing store Thương hiệu thời trang tự sản xuất và thiết kế 100% đến từ
                                những con người "điên rồ" với ước
                                mơ chinh phục hàng triệu trái tim khách hàng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 col-4">
                    <div class="content2">
                        <h5>Liên kết</h5>
                        <ul class="links">
                            <li class="links-item">Tìm kiếm</li>
                            <li class="links-item">Giới thiệu</li>
                            <li class="links-item">Chính sách đổi trả</li>
                            <li class="links-item">Chính sách bảo mật</li>
                            <li class="links-item">Điều khoản dịch vụ</li>
                            <li class="links-item">Liên hệ</li>
                        </ul>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-3 col-8">
                    <div class="content3">
                        <h5>Thông tin liên hệ</h5>
                        <ul class="links">
                            <li>
                                <i class="fas fa-phone-alt"></i>
                                <span> 0919382662</span>
                            </li>
                            <li>
                                <i class="fas fa-paper-plane"></i>
                                <span> adt_fashion@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2 col-4">
                    <h5>Fanpage</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container bottom-title">
            Bản quyền 2023 © thuộc Blue pepper clothing store
        </div>
    </div>
</div>