<div class="container">
    <div class="new-product">
        <h2 class="text-center">Sản phẩm mới</h2>
        <div class="contain-product row">
            <div class="contain-product-detail col-lg-3 col-md-4 col-6">
                <div class="product_image">
                    <div class="product_image-default">
                        <img src="../../assets/images/jeantruoc.jpg" alt="" srcset="">
                    </div>
                    <div class="product_image-hover">
                        <img src="../../assets/images/jeansau.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="product-detail-title"><a href="">Quần Jean Nam Trơn Form Slim</a></div>
                <div class="product-detail-price">
                    <span class="price-sale">420,000 đ</span>
                    <span class="price-origin discount">680,000 đ</span>
                </div>
            </div>

            <div class="contain-product-detail col-lg-3 col-md-4 col-6">
                <div class="product_image">
                    <div class="product_image-default">
                        <img src="../../assets/images/jeanrachgoi.jpg" alt="" srcset="">
                    </div>
                    <div class="product_image-hover">
                        <img src="../../assets/images/jeanrachgoi2.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="product-detail-title"><a href="">Quần Jean Nam Rách gối Form Slim</a></div>
                <div class="product-detail-price">
                    <span class="price-sale">420,000 đ</span>
                    <span class="price-origin discount">680,000 đ</span>
                </div>
            </div>
            <div class="contain-product-detail col-lg-3 col-md-3 col-6">
                <div class="product_image">
                    <div class="product_image-default">
                        <img src="../../assets/images/jeantron.jpg" alt="" srcset="">
                    </div>
                    <div class="product_image-hover">
                        <img src="../../assets/images/jeantron1.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="product-detail-title"><a href="">Quần Jean Nam Trơn Form Wide</a></div>
                <div class="product-detail-price">
                    <!-- <span class="price-sale">420,000 đ</span> -->
                    <span class="price-origin">680,000 đ</span>
                </div>
            </div>
            <div class="contain-product-detail col-lg-3 col-md-3 col-6">
                <div class="product_image">
                    <div class="product_image-default">
                        <img src="../../assets/images/aothun1.jpg" alt="" srcset="">
                    </div>
                    <div class="product_image-hover">
                        <img src="../../assets/images/aothun1-.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="product-detail-title"><a href="">Áo Thun Tay Ngắn</a></div>
                <div class="product-detail-price">
                    <!-- <span class="price-sale">420,000 đ</span> -->
                    <span class="price-origin">680,000 đ</span>
                </div>
            </div>
            <div class="contain-product-detail col-lg-3 col-md-3 col-6">
                <div class="product_image">
                    <div class="product_image-default">
                        <img src="../../assets/images/aothun2.jpg" alt="" srcset="">
                    </div>
                    <div class="product_image-hover">
                        <img src="../../assets/images/aothun2-.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="product-detail-title"><a href="">Áo Thun Tay Ngắn In Lưng</a></div>
                <div class="product-detail-price">
                    <span class="price-sale">420,000 đ</span>
                    <span class="price-origin discount">680,000 đ</span>
                </div>
            </div>
            <div class="contain-product-detail col-lg-3 col-md-3 col-6">
                <div class="product_image">
                    <div class="product_image-default">
                        <img src="../../assets/images/aothun3.jpg" alt="" srcset="">
                    </div>
                    <div class="product_image-hover">
                        <img src="../../assets/images/aothun3-.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="product-detail-title"><a href="">Áo Thun Tay Ngắn Cổ Cao</a></div>
                <div class="product-detail-price">
                    <!-- <span class="price-sale">420,000 đ</span> -->
                    <span class="price-origin">680,000 đ</span>
                </div>
            </div>
        </div>
    </div>
</div>