<div class="about-us">
    <div class="container">
        <div class="row about_info">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="about_info-img">
                    <img src="../../assets/images/about-img.jpg" alt="" srcset="">
                    <div class="about-more">
                        <h2>Giới thiệu về Blue pepper clothing store</h2>
                        <a href="">Xem Ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="about_info-img-detail">
                    <p>
                        Xin chào! Cảm ơn bạn đã ghé thăm Blue pepper clothing store
                        <br>
                        <br>
                        Blue pepper clothing store chuyên phân phối các sản phẩm thời trang cao cấp. Blue pepper
                        clothing store đang dần khẳng
                        định vị trí, uy tín của mình vời khách hàng.
                        <br>
                        <br>
                        Từ tháng 09/2022, để phục vụ nhu cầu đông đảo của khách hàng trên toàn quốc, Blue pepper
                        clothing store chính thức khai
                        trương website mua sắm trực tuyến https://adtclothing.com. Với mong muốn cung cấp các sản
                        phẩm thời trang cao cấp, uy
                        tín do chính người Việt vận hành. Khách hàng có thể an tâm mua sắm với mức giá cạnh tranh,
                        hệ thống thanh toán hoàn
                        thiện, tốc độ xử lý đơn
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>