<div class="row collection_holiday">
    <div class="col-lg-4 col-md-12 col-12 collection_holiday-item">
        <img src="../../assets/images/holiday-img-1.webp" alt="">
        <a href="">Instagram</a>
    </div>
    <div class="col-lg-4 col-md-12 col-12 collection_holiday-item">
        <img src="../../assets/images/holiday-img-2.webp" alt="">
        <a href="">Shoppe</a>
    </div>
    <div class="col-lg-4 col-md-12 col-12 collection_holiday-item">
        <img src="../../assets/images/holiday-img-3.webp" alt="">
        <a href="">Tiktok</a>
    </div>
</div>